/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: 'Roboto', sans-serif;
    background: url('fundo.o.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Container styling */
  .container {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease;
  }
  
  .container:hover {
    transform: scale(1.05);
  }
  
  /* Heading styling */
  .container h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  /* Button styling */
  #fetch-button {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #fetch-button:hover {
    background-color: #0056b3;
  }
  
  /* User container styling */
  #user-container {
    margin-top: 20px;
  }
  
  /* User info styling */
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .user-info img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
  }
  
  .user-info p strong {
    color: #333;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 480px) {
    .container {
      padding: 20px;
      width: 90%;
    }
    
    .user-info img {
      width: 80px;
      height: 80px;
    }
  
    #fetch-button {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
  